#headline-container {
  width: 100%;
  text-align: center;
}


#canvas-container {
  width: 100%;
  text-align: center;
}

canvas {
  display: inline;
  background-color: grey;
  border-radius: 15px;
  bottom: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: green;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.footer-about {

  color: white;
  left: 10%;
  white-space: nowrap;
  display: inline-block;
  //float: left;
}

.footer-contact {
  color: white;
  right: 10%;
  display: inline-block;
  //float: right;
  margin-left: 10%;
}
